<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Board_content</title>
</head>

<body>
    <h1>board_content</h1>
    <form action="/board/<%=rows.board_uid%>?_method=delete" method="post">
        <table border="1">
            <input type="hidden" name="board_uid" value="<%=rows.board_uid%>" />
            <tr>
                <td>제목</td>
                <td>
                    <div>
                        <%=rows.board_title%>
                    </div>
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <div>
                        <%=rows.board_writer%>
                    </div>
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <div>
                        <%=rows.board_content%>
                    </div>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">글 삭제</button>
                    <a href="/">목록</a>
                </td>
            </tr>
        </table>
    </form>

    <button onclick="location.href='/<%=rows.board_uid%>'">글 수정</button>
</body>

</html>